@page "/"
@using System.ComponentModel
@using AgentOrange.Core
@using AgentOrange.Core.ChatSession
@using AgentOrange.Core.Skills
@inject Microsoft.Extensions.Options.IOptions<AgentChatConfig> ConfigOptions
@* 
@inject NavigationManager Nav
@inject SemanticSearch Search
*@
@inject IAgentChatSessionFactory SessionFactory
@inject ResourceDisposer ResourceDisposer
@implements IAsyncDisposable

<PageTitle>Chat</PageTitle>

<CascadingValue Value="_session">
    <ChatHeader OnNewChat="@ResetConversationAsync" />

    <ChatMessageList Messages="@Messages" InProgressMessage="@_currentResponseMessage">
        <NoMessagesContent>
            <div>To get started, try asking about these example documents. You can replace these with your own data and replace this message.</div>
            <ChatCitation File="Example_Emergency_Survival_Kit.pdf" />
            <ChatCitation File="Example_GPS_Watch.md" />
        </NoMessagesContent>
    </ChatMessageList>

    <div class="chat-container">
        <ChatSuggestions OnSelected="@AddUserMessageAsync" @ref="@_chatSuggestions" />
        <ChatInput OnSend="@AddUserMessageAsync" @ref="@_chatInput" />
    </div>
</CascadingValue>

@code {
    readonly ChatOptions _chatOptions = new();
    int _statefulMessageCount;
    CancellationTokenSource? _currentResponseCancellation;
    ChatMessage? _currentResponseMessage;
    ChatInput? _chatInput;
    ChatSuggestions? _chatSuggestions;
    IAgentChatSession? _session;

    string SystemPrompt => ConfigOptions.Value.SystemPrompt;
    List<ChatMessage> Messages => _session?.History ?? [];
    IChatClient? ChatClient => _session?.ChatClient;
    AgentSkills? Skills => _session?.Skills;

    protected override async Task OnInitializedAsync()
    {
        _statefulMessageCount = 0;
        _session = await SessionFactory.CreateSessionFromAsync(ConfigOptions.Value);
        // The local DisposeAsync may not be called.
        // By using the resource disposer we ensure that the session also gets disposed
        // when the user abruptly closes the browser rather than just a browser tab.
        ResourceDisposer.Register(_session);

        _chatOptions.Tools = Skills!.GetType()
            .GetMethods()
            .Where(m => m.GetCustomAttributes(typeof(DescriptionAttribute), false).Any())
            .Select(m => AIFunctionFactory.Create(m, Skills))
            .OfType<AITool>()
            .ToList();
    }

    private async Task AddUserMessageAsync(ChatMessage userMessage)
    {
        CancelAnyCurrentResponse();

        // Add the user message to the conversation
        Messages.Add(userMessage);
        _chatSuggestions?.Clear();
        await _chatInput!.FocusAsync();

        // Stream and display a new response from the IChatClient
        var responseText = new TextContent("");
        _currentResponseMessage = new ChatMessage(ChatRole.Assistant, [responseText]);
        _currentResponseCancellation = new();
        if (ChatClient is not { } client)
        {
            return;
        }

        await foreach (var update in client.GetStreamingResponseAsync(Messages.Skip(_statefulMessageCount), _chatOptions, _currentResponseCancellation.Token))
        {
            Messages.AddMessages(update, filter: c => c is not TextContent);
            responseText.Text += update.Text;
            _chatOptions.ConversationId = update.ConversationId;
            ChatMessageItem.NotifyChanged(_currentResponseMessage);
        }

        // Store the final response in the conversation, and begin getting suggestions
        Messages.Add(_currentResponseMessage!);
        _statefulMessageCount = _chatOptions.ConversationId is not null ? Messages.Count : 0;
        _currentResponseMessage = null;
        _chatSuggestions?.Update(Messages);
    }

    private void CancelAnyCurrentResponse()
    {
        // If a response was cancelled while streaming, include it in the conversation so it's not lost
        if (_currentResponseMessage is not null)
        {
            Messages.Add(_currentResponseMessage);
        }

        _currentResponseCancellation?.Cancel();
        _currentResponseMessage = null;
    }

    private async Task ResetConversationAsync()
    {
        CancelAnyCurrentResponse();
        Messages.Clear();
        Messages.Add(new(ChatRole.System, SystemPrompt));
        _chatOptions.ConversationId = null;
        _statefulMessageCount = 0;
        _chatSuggestions?.Clear();
        await _chatInput!.FocusAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if(_currentResponseCancellation is { } respCts)
        {
            await respCts.CancelAsync();
        }
        if(_session is { })
        {
            await ResourceDisposer.DisposeResourceAsync(_session);
        }
    }
}
